# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# =====================
# Django
# =====================
db.sqlite3
*.log
staticfiles/

# =====================
# NLP / ML artifacts
# =====================
*.pkl
*.model
*.bin
*.vec
*.npy
*.npz
models/gensim-data/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
